*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes slide-in-right{
  0%{
    transform:  translateX(100%) scale(2, 2);
  }75%{
    transform: translateX(25%) scale(2, 2);
  }100%{
    transform:  translateX(0) scale(1, 1);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

body{
  background-color: black;
}

section .intro{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.intro * {
  user-select: none;
  pointer-events: none;
}

.intro .background{
  animation: 1.5s ease-out 0s 1 fade-in;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  background-color: black;
  z-index: -1;
}

.intro .foreground{
  animation: 1.5s ease-out 0s 1 slide-in-right;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  z-index: -1;
}

.intro-text{
  height: 100%;
  z-index: 10;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
}


main{
  min-height: 100vh;
}