:root{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  --icon-size-w: 28px;
  --icon-size-h: 28px;
  --stacked-decked-bg-colour: hsl(0, 20%, 15%);
  --project-bg-colour: hsl(0, 20%, 30%);
  --description-bg-colour: hsl(0, 20%, 20%);
  --min-content-height: 608px;
  --card-border-radius: 5px;
  --card-height: 450px;
  --card-bot-margin: 100px;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  margin: 0;
  padding: 0;
}


/* slind in animatin with a slight 'bounce' at the end */
@keyframes slide-in-right{
  0%{transform:  translateX(100%) scale(1, 1);}
  25%{transform: translateX(50%) scale(2, 2);}
  35%{transform: translateX(40%) scale(2, 2);}
  65%{transform: translateX(30%) scale(2, 2);}
  70%{transform: translateX(20%) scale(1.5, 1.5);} 
  80%{transform: translateX(-10%) scale(1.2, 1.2);}
  100%{transform:  translateX(0) scale(1, 1);}
}

@keyframes fade-in {
  0%{opacity: 0;}
  100%{opacity: 1;}
}


@keyframes fade-out {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes blink {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 0;}
}

@keyframes open-deck {
  0%{width: 10px;}
  50%{width: 10px}
  100%{width: 160px;}
}

@keyframes close-deck {
  0%{width: 160px;}
  60%{width: 10px;}
  100%{width: 10px}
}

@keyframes fade-in-inherit {
  0%{opacity: 0;}
  100%{opacity: inherit;}
}

.anim-fadein{ animation: 0.25s ease-in-out 0s 1 fade-in; }

.anim-fadein-long{ animation: 1.5s ease-in 0s 1 fade-in; }

.anim-fadeout{ animation: 0.5s ease-out 0s 1 fade-out; }

.anim-fadeout-deck{ animation: 0.6s ease-out 0s 1 fade-out; }

.anim-slide-in-right{ animation: 3s ease-out 0s 1 slide-in-right; }

body{ 
  background-color: black; 
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

.intro * {
  user-select: none;
  pointer-events: none;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-image: url('../images/sunset.png');
  background-size: cover;
  background-position: bottom;
}

.background{
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  background-color: black;
  z-index: -1;
}

@media screen and (min-width: 570px){
  section .intro{
    height:100vh;
  }
}


main{
  /* min-height: 800px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.contacts{
  display: flex;
  justify-content: center;
}

.content{
  opacity: 0;
  padding: 10px;
  min-width: 340px;
  width: 100%;
  min-height: var(--min-content-height);
  height: fit-content;
  background: none;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  animation: fade-in 0.5s linear 0s;
}

.content-visible{ opacity: 1; }

.projects{
  display: flex;
  flex-wrap: wrap;
  transition: all 0.25s ease-in-out;
}

.contacts{
  display: flex;
  justify-content: center;
}

.nav-project{
  display: flex;
  column-gap: 10px;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
  transition: all 0.2s ease-in;
  z-index: 1;
}

/* .nav-project-moveY{ transform: translateY(-20px); } */

.project-card{
  transition: transform 0.15s ease-in;
  height: var(--card-height);
  outline: none;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  transform-style: preserve-3d;
  margin-bottom: var(--card-bot-margin);
}

.full-card-size{
  position: relative;
  width: 310px;
}

.project{
  position: relative;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--project-bg-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
  z-index: 2;
}

.project-img{
  max-width: 270px;
  max-height: 250px;
}

.project > a{
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.project-title{
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.project-description{
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
  height: 120px;
  margin-top: 5px;
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius);
  background-color: var(--description-bg-colour);
  width: 100%;
  transition: background-color 0.25s ease-out;
}

.project-description > p{
  color: hsl(0, 0%, 70%);
  padding-top: 3px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
}

.project-description::-webkit-scrollbar {
  width: 5px;
  background-color: darkgray;
  border-radius: 5px;
}

.project-img-container{
  display: flex;
  border-radius: var(--card-border-radius);
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 280px;
  height: 260px;
}

.nav-icon{
  border-radius: 50px;
  /* margin-right: 5px; */
  width: var(--icon-size-w);
  height:var(--icon-size-h);
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.nav-icon:hover{ opacity: 1; }

.nav-icon-selected{
  opacity: 1;
  border: 1px solid black;
  outline: 2px solid white;
  /* margin-right: 10px; */
}

/* Place holder items below */
.placeholder{ background-color: hsl(0, 0%, 30%); }

.placeholder-nav-icon{
  width: var(--icon-size-w);
  height:var(--icon-size-h);
  border-radius: 50%;
}

.placeholder-nav{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
}

.placeholder-image{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 260px;
}

.placeholder-title{
  width: 100%;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.placeholder-description{
  width: 100%;
  height: 70px;
}

.placeholder-project{
  position: relative;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0;
  overflow: hidden;
}

.trangle-container{ display: inline; }

.placeholder-triangle-big{
  height: 0px;
  width: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid hsl(17, 71%, 12%);
}

.placeholder-triangle{
  position: relative;;
  top: -20px;
  height: 0px;
  width: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid hsl(120, 91%, 9%);
}

.placeholder-container{ width: 310px; }

.contact{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact-icon{
  height: 28px;
  width: 28px;
}

.contact > a{
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-left: 1rem;
}

footer{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer .contact{
  margin: none;
}

.scroll-triangle{
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid hsl(0, 0%, 70%);
}

#scroll-reminder{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0;
  animation: blink 2s ease 1.5s infinite;
}

.hide{ display: none; }
.show-scroll{ display: block; }

ol{
  all: initial;
  display: flex;
}

.tab-nav-bar{ margin-bottom: 50px; }

.tab-nav{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: white;
  width: 6rem;
  transition: all 0.25s;
  user-select: none;
  font-weight: bold;
}

.tab-nav::after{
  content: '';
  background-color: darkgray;
  z-index: -200;
}

.tab-nav::before{
  content: '';
  width: 0;
  height: 2rem;
  position: absolute;
  right:0;
  top: 0;
  background-color: rgba(255, 255, 255,0.5);
  z-index: -100;
  transition: width 0.25s;
}

.tab-nav.selected{
  background-color: white;
  color: black;
}

.tab-nav:hover{ color: black; }

.tab-nav:hover::before{
  left: 0;
  width: 6rem;
  transition: width 0.25s;
}

.tab-items{
  column-gap: 5px;
}


.close-deck-height{
  height: 10px;
  z-index: -20;
  pointer-events: none;
  margin-bottom: 0;
}

.close-deck-full-height{
  height: 0px;
}

.tab-nav-fixed{
  position: fixed;
  z-index: 20;
  top: 10px;
}

.nav-filler{
  height: 0px;
  width: 10px;
  visibility: hidden;
}

.nav-filler-expand{
  height: 82px;
}


.moveY-40{
  transform: translateY(40px);
  z-index: -30;
}

.rotateY-180{
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(70deg) rotateZ(50deg);
}

.background-card{
  background-color: var(--stacked-decked-bg-colour);
}

@media screen and (max-width: 569px) {
  .projects{
    justify-content: center;
  }

}

@media screen and (min-width: 570px) {

  .tab-nav-bar{ margin-bottom: 20px; }

  .close-deck-height{height: 10px;}

  .anim-open-deck:not(.intro-only-once){ animation: open-deck 1s ease-in-out; }

  .anim-close-deck{ animation: close-deck 1s ease-in-out; }

  .content{min-height: 610px;}

  .project-card{ 
    width: 160px; 
    height: var(--card-height);
    margin-bottom: 0;
  }
  .placeholder-container{ width: 160px; }

  .nav-project-moveY{
    transform: translateY(10px);
    z-index: 10;
  }

  .full-card-size{
    position: relative;
    width: 250px;
  }

  #content .project-select{
    position: relative;
    outline: none;
    box-shadow: -15px 15px 2px rgba(0, 0, 0, 0.5);
    transform: translate(-55px, -30px);
  }

  .nav-icon{ opacity: 0.2; }

  .nav-icon-partial{
    opacity: 1;
    border: 1px solid black;
    outline: 2px solid white;
    /* margin-right: 10px; */
  }

  .nav-icon-partial:hover {
    transform: scale(1.2);
    border-radius: 50px;
    box-shadow: 0px 0px 1px 1px black;  
  }

  .intro-only-once{ width: 10px; }

  .invisible {visibility: hidden;}

}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
