*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
}

section .intro{
  width: 100vw;
  height: 100vw;
  position: relative;
}

.intro .background{
  position: absolute;
  left: 0;
  top: 0;
}

.intro .foreground{
  position: absolute;
  background: none;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
