:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#blog-header{
    /* background-color: rgb(134, 184, 184); */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blog-title{
    width: 70%;
    min-width: 40em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-color: darkgray;
}

.thin-rounded-border{
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

#header-tagline{
    text-align: end;
}

#logo-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
    border-color: white;
}

body{
    display: flex;
    flex-direction: column;
    background-color: silver !important;
    margin: 0 !important;
    padding: 0 !important;
}

a{
    text-decoration: none;
}

.nav-link {
    margin-left: 1em;
    border-radius: 3px;
    font-weight: bold;
}

.nav-link:hover{
    background-color: rgb(212, 204, 204);
}
