:root{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  /* overflow-x: hidden; */
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}

/* slind in animatin with a slight 'bounce' at the end */
@keyframes slide-in-right{
  0%{
    transform:  translateX(100%) scale(1, 1);
  }25%{
    transform: translateX(50%) scale(2, 2);
  }35%{
    transform: translateX(40%) scale(2, 2);
  }65%{
    transform: translateX(30%) scale(2, 2);
  }70%{
    transform: translateX(20%) scale(1.5, 1.5);
  } 80%{
    transform: translateX(-10%) scale(1.2, 1.2);
  }100%{
    transform:  translateX(0) scale(1, 1);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }100%{
    opacity: 0;
  }
}

@keyframes blink {
  0%{
    opacity: 0;
  }50%{
    opacity: 0.5;
  }100%{
    opacity: 0;
  }
}

.anim-fadein{
  animation: 0.5s ease-in-out 0s 1 fade-in;
}

.anim-fadein-long{
  animation: 1.5s ease-out 0s 1 fade-in;
}

.anim-fadeout{
  animation: 0.5s ease-out 0s 1 fade-out;
}

.anim-slide-in-right{
  animation: 3s ease-out 0s 1 slide-in-right;
}

body{
  background-color: black;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

.intro * {
  user-select: none;
  pointer-events: none;
}

.background{
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  background-color: black;
  z-index: -1;
}

@media screen and (min-width: 370px){
  section .intro{
    height:100vh;
  }
}


main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts{
  display: flex;
  justify-content: center;
  width: 100%;
}

.content{
  opacity: 0;
  padding: 10px;
  min-width: 340px;
  width: 100%;
  height: fit-content;
  background: none;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  animation: fade-in 0.5s linear 0s;
}

.content-visible{
  opacity: 1;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  transition: all 0.25s ease-in-out;
  width: 1000px;
}

.contacts{
  display: flex;
  justify-content: center;
}

.nav-project{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
  transition: all 0.2s ease-in;
}

.nav-project-moveY{
  transform: translateY(-20px);
}

.project-container{
  transition: transform 0.15s ease-in;
  outline: none;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.full-card-size{
  position: relative;
  width: 310px;
}

.project{
  position: relative;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
  overflow: hidden;
}

#content .project-select{
  box-shadow: -15px 15px 2px 0px rgba(0, 0, 0, 0.5);
  transform: translate(5px, -20px);
}

@media screen and (min-width: 450px) {
  .project-container{
   width: 160px;
 }

 .nav-project-moveY{
  transform: translateY(10px);
  z-index: 10;
}

 .full-card-size{
   position: relative;
   width: 250px;
 }

 #content .project-select{
   position: relative;
  box-shadow: -15px 15px 2px rgba(0, 0, 0, 0.5);
  transform: translate(-55px, -30px);
}

}

.project-img{
  max-width: 270px;
  max-height: 250px;
}

.project > a{
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.project-title{
  width: 100%;
  font-size: 1.2rem;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.project-description{
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 120px;
  margin-top: 5px;
  width: 100%;
  transition: background-color 0.25s ease-out;
}

.project-description > p{
  color: hsl(0, 0%, 70%);
  min-height: 90px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
}

.project-img-container{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 280px;
  height: 260px;
}

.nav-logo{
  margin-right: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.2;
  transition: opacity 0.25s ease-in, transform 0.3s;
}

.nav-log-partial{
  opacity: 1;
}

.nav-logo:hover{
  opacity: 1;
}

.rotate{
  transform: rotate(-100deg);
}

/* Place holder items below */
.placeholder{
  background-color: hsl(0, 0%, 30%)
}

.placeholder-nav-logo{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.placeholder-nav{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
}

.placeholder-image{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 260px;
}

.placeholder-title{
  width: 100%;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.placeholder-description{
  width: 100%;
  height: 70px;
}

.placeholder-project{
  position: relative;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0;
  overflow: hidden;
}

.trangle-container{
  display: inline;
}

.placeholder-triangle-big{
  height: 0px;
  width: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid hsl(17, 71%, 12%);
}

.placeholder-triangle{
  position: relative;;
  top: -20px;
  height: 0px;
  width: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid hsl(120, 91%, 9%);
}

.placeholder-container{
  width: 160px;
}

/* place holder items above */


.contact{
  display: flex;
  justify-content: center;
}

.contact-logo{
  height: 32px;
  width: 32px;
}

.contact > a{
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-left: 1rem;
}

footer{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.scroll-triangle{
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid hsl(0, 0%, 70%);
}

#scroll-reminder{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0;
  animation: blink 2s ease 1.5s infinite;
}

.hide-scroll{
  display: none;
}

.show-scroll{
  display: block;
}

.hide{
  display: none;
}

ol{
  all: initial;
  display: flex;
}

.tab-nav-bar{
  margin-bottom: 20px;
}

.tab-nav{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: white;
  width: 6rem;
  transition: all 0.25s;
  user-select: none;
  font-weight: bold;
  margin-left: 5px;
}

.tab-nav::after{
  content: '';
  background-color: darkgray;
  z-index: -200;
}

.tab-nav::before{
  content: '';
  width: 0;
  height: 2rem;
  position: absolute;
  right:0;
  top: 0;
  background-color: rgba(255, 255, 255,0.5);
  z-index: -100;
  transition: width 0.25s;
}

.tab-nav.selected{
  background-color: white;
  color: black;
}

.tab-nav:hover{
  color: black;
}

.tab-nav:hover::before{
  left: 0;
  width: 6rem;
  transition: width 0.25s;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
