:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --alt-colour-1: lightgray;
    --alt-colour-2: silver;
}

.thin-rounded-border{
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

#blog-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blog-title{
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 40em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-color: darkgray;
}
#logo-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
    border-color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
    margin: 0 !important;
    padding: 0 !important;
}

a{
    text-decoration: none;
}

.nav-link {
    margin-left: 1em;
    border-radius: 3px;
    font-weight: bold;
}


.nav-link:hover{
    background-color: rgb(212, 204, 204);
}

main{
    max-width: 50em;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--alt-colour-1);
}

#blog-header{
    background-color: darkgray;
}

article{
    border-radius: 5px;
}

.a-margin-1{
    margin: 10px;
    margin-top: 5px;
    margin-top: 5px;
}

.a-padding-1{
    padding-left: 10px;
    padding-right: 10px;
}

.blog-entry-title{
    margin-left: 10px;
}

.text-summary{
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.alt-colour-1{
    background-color: var(--alt-colour-1);
}

.alt-colour-2{
    background-color: var(--alt-colour-2);
}

