:root{
    background-color: teal;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#blog-header{
    /* background-color: rgb(134, 184, 184); */
    align-self: center;
    width: 70%;
    min-width: 40em;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#blog-title{
    display: flex;
    flex-direction: row;
}

#header-tagline{
    padding-left: 5em;
}

#logo-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
}

body{
    display: flex;
    flex-direction: column;
}
