:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.thin-rounded-border{
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

#blog-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blog-title{
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 40em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-color: darkgray;
}
#logo-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
    border-color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
    margin: 0 !important;
    padding: 0 !important;
}

a{
    text-decoration: none;
}

.nav-link {
    margin-left: 1em;
    border-radius: 3px;
    font-weight: bold;
}


.nav-link:hover{
    background-color: rgb(212, 204, 204);
}

#index-main{
    max-width: 50em;
    margin-top: 50px;

}

.a-margin-1{
    margin: 10px;
    margin-top: 5px;
    margin-top: 5px;
}

.blog-entry-title{
    margin-left: 10px;
}
