:root{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


@keyframes slide-in-right{
  0%{
    transform:  translateX(100%) scale(1, 1);
  }25%{
    transform: translateX(50%) scale(2, 2);
  }35%{
    transform: translateX(40%) scale(2, 2);
  }65%{
    transform: translateX(30%) scale(2, 2);
  }70%{
    transform: translateX(20%) scale(1.5, 1.5);
  } 80%{
    transform: translateX(-10%) scale(1.2, 1.2);
  }100%{
    transform:  translateX(0) scale(1, 1);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

body{
  background-color: black;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}


section .intro{
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.intro * {
  user-select: none;
  pointer-events: none;
}

@media screen and (min-width: 370px){
  section .intro{
    height:100vh;
  }
}

.intro .background{
  max-width: 100%;
  animation: 1.5s ease-out 0s 1 fade-in;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  background-color: black;
  z-index: -1;
}

.intro .foreground{
  max-width: 100%;
  animation: 3s ease-out 0s 1 slide-in-right;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  z-index: -1;
}

.intro-text{
  height: 100%;
  z-index: 10;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
}


main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.github-link{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
}

.project-container{
  transition: transform 0.15s ease-in;
}

.project-container:hover{
  transform: translate(5px, -5px);
}

.project{
  position: relative;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0;
  transition: transform 0.15s ease-in;
}

.project:hover{
  box-shadow: -1px 1px 1px 0px hsl(0, 0%, 50%),-2px 2px 0px 0px hsl(0, 0%, 70%),-3px 3px 0px 0px hsl(0, 0%, 90%), -5px 5px 1px 0px hsl(0, 0%, 100%);
  position: relative;
}

.project-img{
  max-width: 270px;
  max-height: 250px;
}

.project-title{
  width: 100%;
  font-size: 1.2rem;
  color: white;
}

.project-description{
  max-height: 120px;
  margin-top: 5px;
  width: 100%;
}

.project-description > p{
  color: hsl(0, 0%, 70%);
  text-overflow: ellipsis;
}

.project-img-container{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 280px;
  height: 260px;
}

.content{
  opacity: 1;
  padding: 10px;
  max-width: 340px;
  height: fit-content;
  background: none;
  border-radius: 5px;
  justify-content: center; 
  flex-shrink: 0;
  flex-wrap: wrap;
  display: flex;
  transition: opacity 1.5s;
}

.content-visible{
  opacity: 1;
}

.github-logo{
  opacity: 0.5;
  transition: opacity 0.25s ease-in;
}

.github-logo:hover{
  opacity: 1;
}

@media screen and (min-width: 800px) {
  .content{
    max-width: 660px;
    justify-content: start;
  }
}

@media screen and (min-width: 1400px) {
  .content{
    max-width: 1300px;
    justify-content: start;
  }
}

