:root{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  overflow-x: hidden;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* slind in animatin with a slight 'bounce' at the end */
@keyframes slide-in-right{
  0%{
    transform:  translateX(100%) scale(1, 1);
  }25%{
    transform: translateX(50%) scale(2, 2);
  }35%{
    transform: translateX(40%) scale(2, 2);
  }65%{
    transform: translateX(30%) scale(2, 2);
  }70%{
    transform: translateX(20%) scale(1.5, 1.5);
  } 80%{
    transform: translateX(-10%) scale(1.2, 1.2);
  }100%{
    transform:  translateX(0) scale(1, 1);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }100%{
    opacity: 0;
  }
}

@keyframes blink {
  0%{
    opacity: 0;
  }50%{
    opacity: 1;
  }100%{
    opacity: 0;
  }
}

.anim-fadein{
  animation: 1.5s ease-in-out 0s 1 fade-in;
}

.anim-fadein-long{
  animation: 2.5s ease-out 0s 1 fade-in;
}

.anim-fadeout{
  animation: 1.5s ease-out 0s 1 fade-out;
}

.anim-slide-in-right{
  animation: 3s ease-out 0s 1 slide-in-right;
}

body{
  background-color: black;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

section .intro{
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.intro * {
  user-select: none;
  pointer-events: none;
}

@media screen and (min-width: 370px){
  section .intro{
    height:100vh;
  }
}

.intro .background{
  max-width: 100%;
  /* animation: 1.5s ease-out 0s 1 fade-in; */
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  background-color: black;
  z-index: -1;
}

.intro .foreground{
  max-width: 100%;
  /* animation: 3s ease-out 0s 1 slide-in-right; */
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  z-index: -1;
}

.intro-text{
  height: 100%;
  z-index: 10;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
}


main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content{
  opacity: 0;
  padding: 10px;
  width: 1620px;
  max-width: fit-content;
  height: fit-content;
  background: none;
  border-radius: 5px;
  justify-content: start; 
  flex-shrink: 0;
  flex-wrap: wrap;
  display: flex;
  transition: opacity 0.5s;
}

.content-visible{
  opacity: 1;
}

.nav-project{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
  transition: transform 0.2s ease-in;
}

#content.hasHover .nav-project-moveY{
  transform: translateY(-5px);
}

.project-container{
  transition: transform 0.15s ease-in;
  overflow: hidden;
}

.project{
  position: relative;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0;
  transition: transform 0.2s ease-in;
  overflow: hidden;
}

#content.hasHover .project-select{
  /* stagger the shadows to create a 3d effect */
  box-shadow: -1px 1px 1px 0px hsl(0, 0%, 50%),
  -2px 2px 0px 0px hsl(0, 0%, 50%),
  -3px 3px 0px 0px hsl(0, 0%, 50%), 
  -5px 5px 0px 0px hsl(0, 0%, 50%),
  -6px 6px 0px 0px hsl(0, 0%, 50%);
  transform: translate(5px, -5px);
}

.project-img{
  max-width: 270px;
  max-height: 250px;
}

.project > a{
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.project-title{
  width: 100%;
  font-size: 1.2rem;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.project-description{
  max-height: 120px;
  margin-top: 5px;
  width: 100%;
}

.project-description > p{
  color: hsl(0, 0%, 70%);
  min-height: 90px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
}

.project-img-container{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 280px;
  height: 260px;
}

.github-logo{
  opacity: 0.5;
  transition: opacity 0.25s ease-in;
  transition: transform 0.3s;
}

#content.hasHover .github-logo:hover{
  opacity: 1;
}

.rotate{
  transform: rotate(-100deg);
}

/* Place holder items below */
.placeholder{
  background-color: hsl(0, 0%, 30%)
}

.placeholder-nav-logo{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.placeholder-nav{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-bottom: 2px;
}

.placeholder-image{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 260px;
}

.placeholder-title{
  width: 100%;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.placeholder-description{
  width: 100%;
  height: 70px;
}

.placeholder-project{
  position: relative;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0;
  overflow: hidden;
}

.trangle-container{
  display: inline;
}

.placeholder-triangle-big{
  height: 0px;
  width: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid hsl(17, 71%, 12%);
}

.placeholder-triangle{
  position: relative;;
  top: -20px;
  height: 0px;
  width: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid hsl(120, 91%, 9%);
}

.placeholder-container{
  overflow: hidden;
}

/* place holder items above */


.contact{
  display: flex;
  justify-content: center;
}

.contact-logo{
  height: 32px;
  width: 32px;
}

.contact > a{
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-left: 1rem;
}

footer{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.scroll-triangle{
  height: 0px;
  width: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid hsl(0, 0%, 70%);
}

#scroll-reminder{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0;
  animation: blink 2s ease 3s infinite;
}

.hide-scroll{
  display: none;
}

.show-scroll{
  display: block;
}

/* @media screen and (min-width: 800px) {
  .content{
    max-width: fit-content;
    justify-content: start;
  }
}

@media screen and (min-width: 1400px) {
  .content{
    max-width: fit-content;
    justify-content: start;
  }
} */

