name: Build and generate script file for github page.
on: 
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: build project
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: pull from gh-pages branch
        run: git pull origin gh-pages
      - name: Build project
        run: npm run build
      - name: track main.bundle.js and commit
        run: |
          git add -f public/main.bundle.js   
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"
          git commit -m 'add main.bundle.js through actions'
      - name: Push to gh-pages branch
        run: git push origin gh-pages
